%p
  %b Tags:
  = @snippet.tag_list
%p
  %b Code:
  = raw Pygments.highlight(@snippet.code, :lexer => @snippet.language)
%p
  %b Description:
  = markdown @snippet.description

= link_to 'Edit', edit_snippet_path(@snippet)
