.top-bar {
  margin-bottom: 0;
}

p, a, ul, ol, label, textarea {
  font-size: 20px;
}

tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
  font-size: 20px;
  line-height: 20px;
}
